

style.css 
.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
    height: 400px;
}

.header {
    grid-column: 1/3;
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
}

.footer {
    grid-column: 1/3;
}

.sidebar {
    grid-row: 2/3;
}

.child {
    border: 1px solid black;
}